/* Normal css */
#det {
  display: flex;
  flex-direction: column;
}
#all-blocks {
  display: flex;
  justify-content: flex-end;
  width: 10em;
  align-self: start;
  margin-top: 0.6em;
}
.try {
  background-image: url(images/bird.jpg);
  height: 80vh;
  width: fit-content;
  margin-top: 5px;
  border-radius: 1.5em;
}

.first-block {
  background-color: white;
  display: flex;
  width: 6em;
  height: 6vh;
  border-radius: 3em;
}

.casio {
  display: flex;
  justify-content: flex-end;
  margin-left: 1.2em;
}

.casio h1 {
  color: white;
}

.casio-space {
  display: flex;
  justify-content: space-between;
  width: 90%;
}
.screen {
  display: flex;
  width: 100%;
  justify-content: center;
}
#screen {
  color: black;
  padding-right: 20%;
}

.obed {
  display: flex;
  justify-content: center;
  width: 75%;
  height: 13vh;
  border: 4px solid white;
  border-radius: 2em;
}

.firstB span button {
  color: red;
  width: 3.3em;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 2em;
  border-radius: 1em;
}

.fred {
  display: flex;
  justify-content: center;
  width: 100%;
}
.fred input {
  border-radius: 5em;
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
  font-size: 3em;
}

.keyboard {
  width: 100%;
}

.Camou,
.Cu {
  display: none;
}

.firstB {
  display: flex;
  justify-content: center;
  width: 100%;
}
main {
  display: flex;
  justify-content: center;
}

ul li,
.feed {
  font-size: 10px;
}
.feed {
  color: blue;
  margin-left: 2em;
  margin-left: 3em;
}

.move {
  width: 100%;
  border-radius: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.off {
  font-size: 2em;
}
@media (max-width: 999px) {
  .firstB span button {
    margin-left: 0.8em;
    margin-right: 0.8em;
    margin-top: 1em;
    border-radius: 1em;
    border-image: url();
  }
  .try {
    width: fit-content;
  }

  .feed {
    color: blue;
    margin-left: 2em;
  }
}

@media (max-width: 999px) {
  .firstB span button {
    margin-top: 1em;
    border-radius: 1em;
  }
  .try {
    width: fit-content;
  }
}

@media (max-width: 533px) {
  .firstB span button {
    margin-top: 1.5em;
    border-radius: 1em;
    font-size: 0.9em;
    margin-left: 0.5;
    margin-right: 0.5;
  }
  .try {
    width: fit-content;
  }
}

@media (max-width: 500px) {
  .obed {
    width: 95%;
  }
}

@media (max-width: 400px) {
  .obed {
    width: 95%;
  }
  .try {
    height: 65vh;
  }
}
.AC,
.DEL {
  background-color: rgba(248, 38, 38, 0.829);
  color: white !important;
}

.status {
  font-size: smaller;
}

@media (max-width: 376px) {
  .try {
    height: 60vh;
    width: 90%;
    margin-top: 5px;
    margin-bottom: 20px;
  }
  .keyboard {
    width: auto;
  }

  .firstB span button {
    margin-top: 1.5em;
    border-radius: 1em;
    font-size: 0.7em;
    margin-left: 0.1;
    margin-right: 0.1;
  }
  .off {
    font-size: large;
  }

  .first-block,
  .move {
    width: 3em;
  }

  .firstB span button:focus,
  .firstB span button:hover {
    border: 0px;
    border: 1px solid rgb(210, 210, 250);
  }
}

@media (max-width: 320px) {
  .try {
    height: 50vh !important;
    width: 90%;
    margin-top: 5px;
    margin-bottom: 20px;
  }

  .firstB span button {
    margin-top: 1.5em;
    border-radius: 1em;
    font-size: 0.6em;
    margin-left: 0.2em;
    margin-right: 0.2;
  }

  .obed {
    width: 90%;
    height: 50px;
  }
}

@media (max-width: 320px) {
  .try {
    height: 50vh important;
    width: 90%;
    margin-top: 5px;
    margin-bottom: 20px;
  }

  .firstB span button {
    margin-top: 1.5em;
    border-radius: 1em;
    font-size: 0.6em;
    margin-left: 0.2em;
    margin-right: 0.2;
  }

  .obed {
    width: 90%;
    height: 50px;
  }
.first-block,
.move,
.off{
width:30px;
height:20px
}
}

